
/* TABLET */

main .content{
    gap: 0px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
card{
	width: calc(50% - 10px);
	margin-bottom: 40px;
}


card{
	background-color: #00fffe;
}
